/* black #000000 */
/* white #ffffff */
/* firm_site #849EBB */
/* firm_orionvar #0076bf */
/* grey #A6A8AB */
:root {
	--primary-text-color: #000000;
	--primary-white-color: #ffffff;
	--accent-color: #0076bf;
	--firm-site-color: #9bb5ea;
	--grey-color: #a6a8ab;
}

/* global */
body {
	background-color: var(--primary-white-color);
	color: var(--primary-text-color);

	margin: 0;

	font-family: "Comfortaa", cursive;
	font-weight: 300;
	font-size: 28px;
	line-height: 1.14;
	letter-spacing: -0.015em;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: var(--primary-text-color);
	margin: 0;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
.conteiner {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	outline: 3px solid tomato;
}

.section {
	/* padding-top: 94px;
	padding-bottom: 94px; */
}

.section-title {
	font-weight: 500;
	font-size: 42px;
	text-align: center;
}
/* Header */
.header {
	background-color: var(--firm-site-color);
	height: auto;
}
.header-nav,
.site-nav,
.site-soc {
	display: flex;
	justify-content: center;
}

.site-soc {
	display: flex;
	margin-left: auto;
	align-items: center;
}
.site-nav__item {
	padding: 40px 0;
}
.site-soc__item:not(:last-child),
.site-nav__item:not(:last-child) {
	margin-right: 40px;
}

.site-nav__link {
	color: var(--primary-white-color);
}
.header-nav {
	display: flex;
	align-items: center;
}

.button {
	color: var(--primary-text-color);
	background-color: var(--firm-site-color);
	padding: 12px 24px;
	display: inline-block;
	/* width: 400px; */
	text-align: center;
	border-radius: 5px;
	font-weight: 500;
}

.site-nav__button {
	background-color: var(--primary-white-color);
	margin-right: auto;
	min-width: 250px;
}

/* Hero */
.hero {
	padding-top: 0;
}

.hero-bg {
	height: 700px;
	padding-top: 80px;
	/* background-color: var(--grey-color); */
	background-image: url(../images/drop_water.svg), url(../images/background_img.jpg);
	background-repeat: no-repeat;
	background-position: -3px 10px, right top;
	background-size: 160px, auto;
}

.hero-title {
	font-size: 62px;
	font-weight: 700;
	margin-bottom: 30px;
}

.hero-text {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 42px;
	line-height: 1.2;
	margin-bottom: 50px;
}

.hero-text__acent {
	color: var(--firm-site-color);
	font-weight: 700;
}

/* instruction */

.instruction-title__primary {
	color: var(--firm-site-color);
}

.instruction-title {
	font-weight: 500;
	font-size: 32px;
	color: var(--firm-site-color);
}

.link:hover,
.link:focus {
	color: var(--accent-color);
}

.btn-list {
	display: flex;
}

/* advantaches */

.advantaches-bg {
	background-image: linear-gradient(rgba(255, 255, 255, 1), var(--firm-site-color), rgba(255, 255, 255, 1));
}
.advantaches-text {
	display: inline-flex;
}
.advantaches-text::before {
	display: inline-flex;
	align-items: center;
	content: "";
	/* background-color: red; */
	margin-right: 10px;
	width: 25px;
	height: 25px;
	background-image: url(../images/check_mark.svg);
}
/* .advantaches-item{
	background-image: url(../images/check_mark.svg);
	background-size: contain;

} */
/* search */

/* footer */
