/* black #000000 */
/* white #ffffff */
/* firm_site #849EBB */
/* firm_orionvar #0076bf */
/* grey #A6A8AB */
:root {
	--primary-text-color: #000000;
	--primary-white-color: #ffffff;
	--accent-color: #0076bf;
	--firm-site-color: #9bb5ea;
	--grey-color: #a6a8ab;
}

/* global */

html {
	scroll-behavior: smooth;
}
body {
	background-color: var(--primary-white-color);
	color: var(--primary-text-color);

	margin: 0;
	/* padding-top: 100px; */

	font-family: "Comfortaa", cursive;
	font-weight: 300;
	font-size: 20px;
	line-height: 1.14;
	letter-spacing: -0.015em;
}
ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	color: var(--primary-text-color);
	margin: 0;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	margin: -1px;
}
.conteiner {
	width: 1140px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0 auto;
	/* outline: 3px solid tomato; */
}

.section {
	padding-top: 100px;
	padding-bottom: 50px;
}

.section-title {
	font-weight: 500;
	font-size: 42px;
	text-align: center;
}
/* Header */
.header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;

	width: 100%;
	background-color: var(--firm-site-color);
	min-height: 100px;
}
.header-nav,
.site-nav,
.site-soc {
	display: flex;
	justify-content: center;
}

.site-soc {
	display: flex;
	margin-left: auto;
	align-items: center;
}
.site-nav__item {
	padding: 40px 0;
}
.site-soc__item:not(:last-child),
.site-nav__item:not(:last-child) {
	margin-right: 40px;
}

.site-nav__link {
	color: var(--primary-white-color);
}
.header-nav {
	display: flex;
	align-items: center;
}

.site-soc__icon {
	display: flex;
	justify-content: center;

	margin-right: 40px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: var(--primary-white-color);
}

.site-soc__icon > a {
	display: flex;
	align-items: center;
}

.site-soc__icon:hover,
.btn-icon:hover {
	background-color: var(--accent-color);
	fill: var(--primary-white-color);
}
.btn-icon {
	width: 25px;
	height: 25px;
	fill: var(--firm-site-color);
}

.button {
	color: var(--primary-text-color);
	background-color: var(--firm-site-color);
	padding: 12px 24px;
	display: inline-block;
	/* width: 400px; */
	text-align: center;
	border-radius: 5px;
	font-weight: 500;
}

.site-nav__button {
	background-color: var(--primary-white-color);
	margin-right: auto;
	min-width: 250px;
}

.site-nav__button:hover {
	background-color: var(--accent-color);
	color: var(--primary-white-color);
}

/* Hero */
.hero {
	padding-top: 0;
}
.conteiner-hero {
	padding-top: 50px;
}

.hero-bg {
	position: relative;
	height: 700px;
	padding-top: 80px;
	/* background-color: var(--grey-color); */
	background-image: url(../images/drop_water.svg), url(../images/background_img.jpg);
	background-repeat: no-repeat;
	background-position: -3px 60px, right top;
	background-size: 160px, auto;
	/* transform: translateY(5px); */
	box-shadow: inset -30px -30px 30px rgba(255, 255, 255, 1);
}

.hero-title {
	font-size: 62px;
	font-weight: 700;
	margin-bottom: 30px;
	z-index: 2;
}

/* .hero-title__img{
	position: absolute;
	top: 0;
	left: 0;
	background-image: url(../images/drop_water.svg);
	height: 200px;
	width: 400px;
	background-position: -3px 10px;
	z-index: 1;
	background-repeat: no-repeat;
} */

.hero-text {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 42px;
	line-height: 1.2;
	margin-bottom: 50px;
}

.hero-text__acent {
	color: var(--firm-site-color);
	font-weight: 700;
}

/* instruction */

.instruction-item {
	display: flex;
	align-items: center;
	justify-content: space-around;

	border-bottom: var(--firm-site-color) 2px solid;
}

.instruction-icon {
	width: 75px;
	fill: var(--firm-site-color);
}

.instruction-title__primary {
	color: var(--firm-site-color);
}

.instruction-title {
	font-weight: 500;
	font-size: 30px;
	line-height: 1.5;

	color: var(--firm-site-color);

	width: 300px;
	text-align: center;
}

.instruction-text {
	width: 600px;
	line-height: 1.5;
}

.link:hover,
.link:focus {
	color: var(--accent-color);
}

.btn-list {
	display: flex;
}

/* advantaches */

.btn-list__item {
	margin-left: 40px;
}

.advantaches-button:hover {
	background-color: var(--accent-color);
	color: var(--primary-white-color);
}

.advantaches-bg {
	background-image: linear-gradient(rgba(255, 255, 255, 1), var(--firm-site-color) 200px, rgba(255, 255, 255, 1));
}

.advantaches {
}
.advantaches-block {
	padding-top: 40px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.advantaches-item {
	margin-bottom: 20px;
}
.advantaches-text {
	display: inline-flex;
	font-size: 28px;
}
.advantaches-text::before {
	display: inline-flex;
	align-items: center;
	content: "";
	/* background-color: red; */
	margin-right: 10px;
	width: 25px;
	height: 25px;
	background-image: url(../images/check_mark.svg);
	background-repeat: no-repeat;
}

/* search */

.search {
	height: 700px;

	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.search::after {
	content: "";
	background: url(../images/drop_water_bg.svg);
	opacity: 0.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
	background-repeat: no-repeat;
	background-position: 345px -55px;
	background-size: 850px;
}

.section-title {
	margin-bottom: 30px;
}

.search-text {
	display: flex;
	justify-content: center;

	margin-bottom: 30px;
}
.search-set {
	display: flex;
	justify-content: space-around;
}

.search-set__item {
	display: flex;
	justify-content: center;
	align-items: center;
	/* background-color: green; */
	border-radius: 3px;
	width: 220px;
	height: 75px;
	margin-right: 20px;
}
.search-set__item--02 {
	background-color: #94140a;
}
.search-set__item--03,
.search-set__item--04 {
	background-color: #48a128;
}

.search-set__item:hover {
	background-color: var(--accent-color);
}

.search-set__item > a {
	padding: 20px;
}
.search-set__item:last-child {
	margin-right: 0;
}
.search-icon {
}

/* info */
.info-con {
	display: flex;
	justify-content: center;
	width: auto;
	padding: 0;
}

.info-warning {
	width: 1200px;
	height: 300px;
	padding-bottom: 20px;
}

.info-text {
	display: flex;
	text-align: center;
	margin-bottom: 20px;
}
.info-list {
	/* display: flex; */
	text-align: center;
	text-decoration: none;
	margin-bottom: 20px;
}
.info-item {
	margin-bottom: 20px;
}
.info-item > a {
	/* text-decoration: none; */
	color: var(--primary-text-color);
	font-style: normal;
}

.info-item > a:hover {
	color: var(--accent-color);
}
/* footer */

.footer {
	background-color: var(--primary-text-color);
}

.footer-con {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-logo {
	fill: var(--primary-white-color);
	width: 200px;
}
.footer-logo:hover {
	fill: var(--accent-color);
}

.footer__text {
	color: var(--primary-white-color);
}

.footer-site-soc {
	display: flex;
}
.footer-site-soc__icon > a {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-right: 40px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: var(--primary-white-color);
}

.footer-btn-icon {
	width: 35px;
	height: 35px;
}

.footer-site-soc__icon > a:hover {
	background-color: var(--accent-color);
}
