.btn-list__item {
    margin-left: 40px;
}

.advantaches-button:hover {
    background-color: var(--accent-color);
    color: var(--primary-white-color);

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scale(1.02);
}

.advantaches-bg {
    background-image: linear-gradient(rgba(255, 255, 255, 1), var(--firm-site-color) 200px, rgba(255, 255, 255, 1));
}

.advantaches {}

.advantaches-block {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advantaches-item {
    margin-bottom: 20px;
}

.advantaches-text {
    display: inline-flex;
    font-size: 28px;
}

.advantaches-text::before {
    display: inline-flex;
    align-items: center;
    content: "";
    /* background-color: red; */
    margin-right: 10px;
    width: 25px;
    height: 25px;
    background-image: url(../images/check_mark.svg);
    background-repeat: no-repeat;
}

@media screen and (max-width: 1200px){

    .btn-list__item {
            margin-left: 30px;
        }
        .advantaches-block{
            padding-top: 30px;
        }
        .advantaches-item {
                    margin-bottom: 15px;
                }

        .advantaches-text{
            font-size: 22px;
            &::before {
                width: 20px;
                    height: 20px;
            }
            }
        .advantaches-img__bottle{
            max-width: 200px;
        }
        .advantaches-img__key{
            max-width: 150px;
        }
}

@media screen and (max-width: 767px){

    .advantaches-text {
            font-size: 18px;
    
            &::before {
                width: 20px;
                height: 20px;
            }
        }

            .advantaches-img__bottle {
                    max-width: 200px;
                    display: none;
                }
            
                .advantaches-img__key {
                    max-width: 150px;
                    display: none;
                }

                .btn-list{
                    display: block;
                    margin: 0 auto;
                    
                    &__item{
                        margin-bottom: 10px;
                        width: 100%;
                    }
                }
                
}