.hero {
    padding-top: 0;

}

.conteiner-hero {
    padding-top: 50px;

}

.hero-bg {

    
    position: relative;
    height: 700px;
    padding-top: 80px;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: auto;
    box-shadow: inset -30px -30px 30px rgba(255, 255, 255, 1);
}

.hero-title {
position: relative;

    font-size: 62px;
    font-weight: 700;
    margin-bottom: 30px;

    &__img{
        position: absolute;
        top: -50px;
        left: -20px;
        z-index: -1;
        width: 150px;
        img{
            width: 100%;

        }
    }
}


.hero-text {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 50px;
}

.hero-text__acent {
    color: var(--firm-site-color);
    font-weight: 700;
}

@media screen and (max-width: 1200px){

        .hero-bg{
            background-size: 80%;
            z-index: -2
            ;
        }

        .hero-title{
    font-size: 62px;
        font-weight: 700;
        margin-bottom: 30px;
        }
.hero-text{
    font-weight: 400;
        font-size: 42px;
        line-height: 1.2;
        margin-bottom: 50px;
}
}