/* global */

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);

    margin: 0;
    /* padding-top: 100px; */

    font-family: "Comfortaa", cursive;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.14;
    letter-spacing: -0.015em;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: var(--primary-text-color);
    margin: 0;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

@media screen and (max-width: 1200px){

    body{
        font-size: 16px;
    }
}